In [1]:
import pandas as pd
import numpy as np

In [2]:
#建立資料
Routes=['TPENRT','TPEKIX','TPECTS','TPEOKA','KHHNRT','KHHOKA','KHHKIX','RMQOKA']
Pax=list(np.random.randint(50,200,len(Routes))) #此欄採隨機值
Pax

[71, 157, 93, 91, 164, 67, 50, 161]

In [3]:
#建立DataFrame
data = {'Routes': Routes,'Pax': Pax}
df = pd.DataFrame(data)
df

   Pax  Routes
0   71  TPENRT
1  157  TPEKIX
2   93  TPECTS
3   91  TPEOKA
4  164  KHHNRT
5   67  KHHOKA
6   50  KHHKIX
7  161  RMQOKA